In [ ]:
import pandas as pd
import os
import json
import datetime as dict

In [ ]:
path = r'/Users/ericcollins/Documents/Python/Fitbit_Project/MyFitbitData/EricCollins/Sleep/'
df_sleep = pd.DataFrame()
for file in os.listdir(path):
    filepath = (path+'/'+file)
    if file.startswith('sleep') == True & file.endswith('.json') == True:
        # load data using Python JSON module
        with open(filepath,'r') as f:
            data = json.loads(f.read())
        # Flatten data
            df_nested_list = pd.json_normalize(data)
            df_sleep = pd.concat([df_sleep,df_nested_list])

df_sleep = df_sleep[['dateOfSleep','startTime','endTime','duration','minutesAsleep','minutesAwake','timeInBed','levels.summary.restless.minutes','levels.summary.deep.minutes','levels.summary.light.minutes','levels.summary.rem.minutes']]
df_sleep=df_sleep.rename(columns={'dateOfSleep':'date','levels.summary.restless.minutes':'restlessMinutes','levels.summary.deep.minutes':'minutesDeep',
                        'levels.summary.light.minutes':'minutesLight','levels.summary.rem.minutes':'minutesREM'})
df_sleep['date']=pd.to_datetime(df_sleep['date'])

In [23]:
path = r'/Users/ericcollins/Documents/Python/Fitbit_Project/MyFitbitData/EricCollins/Physical Activity/'
df_zoneMinutes = pd.DataFrame()
for file in os.listdir(path):
    filepath = (path+'/'+file)
    if file.startswith('Active Zone Minutes') & file.endswith('.csv'):
        data = pd.read_csv(filepath)
        df_zoneMinutes = pd.concat([df_zoneMinutes,data])
df_zoneMinutes = df_zoneMinutes.sort_values(by='date_time')
import datetime as dt
df_zoneMinutes['date_time']=pd.to_datetime(df_zoneMinutes['date_time'])
df_zoneMinutes['date'] = df_zoneMinutes['date_time'].dt.date
df_zoneMinutes['date'] = pd.to_datetime(df_zoneMinutes['date'])
df_zoneMinutes['time'] = df_zoneMinutes['date_time'].dt.time
df_zoneMinutes = df_zoneMinutes.groupby(by='date',as_index = False).sum()
df_zoneMinutes = df_zoneMinutes.rename(columns={'total_minutes':'total_zone_minutes'})

In [24]:
df = pd.merge(df_sleep,df_zoneMinutes,on='date')

In [25]:
df

,date,startTime,endTime,duration,minutesAsleep,minutesAwake,timeInBed,restlessMinutes,minutesDeep,minutesLight,minutesREM,total_zone_minutes
0,2022-04-04,2022-04-03T22:16:30.000,2022-04-04T05:54:30.000,27480000,438,20,458,19.0,NaN,NaN,NaN,23
1,2022-04-04,2022-04-03T22:16:30.000,2022-04-04T05:54:30.000,27480000,438,20,458,19.0,NaN,NaN,NaN,23
2,2022-04-01,2022-03-31T20:57:30.000,2022-04-01T04:44:00.000,27960000,446,20,466,20.0,NaN,NaN,NaN,29
3,2022-03-29,2022-03-28T21:09:30.000,2022-03-29T06:07:30.000,32280000,528,10,538,10.0,NaN,NaN,NaN,17
4,2022-03-28,2022-03-27T23:37:30.000,2022-03-28T06:35:30.000,25080000,387,31,418,31.0,NaN,NaN,NaN,24
...,...,...,...,...,...,...,...,...,...,...,...,...
72,2022-04-12,2022-04-11T21:29:00.000,2022-04-12T05:10:30.000,27660000,404,57,461,NaN,78.0,214.0,112.0,37
73,2022-04-11,2022-04-10T22:09:00.000,2022-04-11T06:04:30.000,28500000,435,40,475,39.0,NaN,NaN,NaN,28
74,2022-04-07,2022-04-06T23:51:00.000,2022-04-07T05:52:00.000,21660000,322,39,361,NaN,65.0,157.0,100.0,18
75,2022-04-06,2022-04-05T23:10:00.000,2022-04-06T06:22:00.000,25920000,415,17,432,16.0,NaN,NaN,NaN,1
76,2022-04-05,2022-04-04T21:16:00.000,2022-04-05T05:35:30.000,29940000,480,19,499,18.0,NaN,NaN,NaN,34

In [28]:
df['minutesREM'].corr(df['total_zone_minutes'],method='pearson')

-0.13644463732203616

In [2]:
strs = ["flower","flow","flight"]